@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  } 
  &:after {
    clear: both;
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
}
@mixin border-radius($rad : 3px) {
  -wekbit-border-radius: $rad; 
     -moz-border-radius: $rad;
          border-radius: $rad; 
}
@mixin box-shadow($x-off, $y-off, $rad, $color) {
  -webkit-box-shadow: $x-off $y-off $rad $color;
     -moz-box-shadow: $x-off $y-off $rad $color;
          box-shadow: $x-off $y-off $rad $color;
}

body {
  color: #333;
  font: 13px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: url('../img/modal-bc.png') repeat;
}

.wrapper {
  padding: 0 20px;
  @include clearfix;
}

span.blue {
  color: #627396;
}
span.brown {
  color: #9B703F;
}
span.purple {
  color: #89708C;
}
span.red {
  color: #C4543B;
}
span.orange {
  color: #CF6A4C;
}
span.yellow {
  color: #F9EE98;
}
span.green {
  color: #8F9D6A;
}

.editor {
  width: 850px;
  margin: 35px auto 0;
  @include clearfix;
}

.text-holder {
  min-height: 80px;
  background: #1a1a1a;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.25);
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
  @include border-radius(4px);
  position: relative;

  .toolbar {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 45px;
    height: 12px;
    background: url('../img/toolbar_buttons-small.png') no-repeat 0 0;
    cursor: pointer;
  }
  .toolbar:hover {
    background: url('../img/toolbar_buttons-small.png') no-repeat 0 -13px; 
  }
  
  aside {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 35px;
    background-color: #1f1f1f;
    color: #777;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;

    ul {
      list-style: none;
      margin-left: 0px;
      margin-top: 0.3em;
      margin-bottom: 8px;
      li {
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        text-align: center;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 21px;
    color: #ebebeb;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #3a3a3a;
    background-color: #757374;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(117, 115, 116)),to(rgb(46, 46, 46)));
    background-image: -webkit-linear-gradient(top, rgb(117, 115, 116), rgb(46, 46, 46));
    background-image: -moz-linear-gradient(top, rgb(117, 115, 116), rgb(46, 46, 46));
    background-image: -o-linear-gradient(top, rgb(117, 115, 116), rgb(46, 46, 46));
    background-image: -ms-linear-gradient(top, rgb(117, 115, 116), rgb(46, 46, 46));
    background-image: linear-gradient(top, rgb(117, 115, 116), rgb(46, 46, 46));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#757374', EndColorStr='#2e2e2e');

    @include clearfix;

    span.left {
      float: left;
      margin-left: 8px;

      a {
        color: #ebebeb;
      }
    }
    span.right {
      float: right;
      margin-right: 8px;

      a {
        color: #ebebeb;
      }
    }
  }
}

.text-holder header {
  border: 1px #a8a8a8 solid;
  border-top: 1px #b0b0b0 solid;
  background-color: #444444;
  background-image: -webkit-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image: -moz-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image: -ms-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image: -o-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image: linear-gradient(to bottom, #E5E5E5, #AEAEAE);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5E5E5', EndColorStr='#AEAEAE');
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow:inset 0 1px 0 #f2f2f2;    
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 3px 0;
  display: block;
  text-align: center;
  color: #464646;
  text-shadow: 0 1px 0 rgba(255,255,255,.75);
}

.myTypingText {
  min-height: 80px;
  margin:15px;
  display: block;

  pre {
    background: none;
    border: none;
    color:#E8E8E7;
    font-family: "Monaco", "Consolas", "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 0 1px 0 #000;
    margin: 0;
  }
}







